 @import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');*{
    box-sizing: border-box;
}

body{
    width: 100%;
    margin: 0;
    padding: 0;
}
header{
    width: 90%;
    margin: 0 auto;
}
.header-logo{
width: 64px;
height: 38px;
margin-top: 22px;
}

.nav{
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    width: 70%;  
    font-weight: 400;
    font-size: 20px;
   font-family: "Roboto", sans-serif;
   margin-left:-35px ;
}

.icons{
    width: 22px;
    height: 22px;
}

.header-text{
    font-size: 80px;
    font-family: "Roboto Slab", serif;
    margin-top: -20px;
}
#header-text{
    width:80%;
}
.text-1{
    margin-top: -30px;
    font-weight: 400;
    font-family: "Roboto", sans-serif;
    font-size: 20px;
}

#text-1{
    width:420px;
}

.header-article{
    display: flex;
    gap: 100px;
}

.img-director{
    width: 304px;
    height: 356px;
    margin-top: 50px;
}
.header-text-box{
    width: 480px;
    height: 200px;
    background-color: #1E4681;
    color: white;
    margin: 0 auto;
    border-radius: 10px;
}
.blue-text{
    padding-top: 5px;
    padding-left: 20px;
    font-size: 25px;
    font-family: "Roboto Slab", serif;
 
}
.blue-writer-text{
    font-size: 20px;
    padding-left: 280px;
    font-family: "Roboto", sans-serif;
}
@media screen and (min-width:992px) and ( max-width:1279px)
{

    .nav{
        font-size: 18px;
        width: 450px;
    }
    .header-text{
        font-size: 66px;
    }
    #header-text{
        width:90%;
    }
    .text-1{
        font-size: 18px;
    }
    #text-1{
        width:380px;
    }

    .img-director{
        width: 256px;
        height: 266px;
    }
 
    .header-text-box{
        width: 350px;
        height: 145px;
    }
    .blue-text{
     font-size: 18px; 
     }

.blue-writer-text{
    font-size: 15px; 
    padding-left: 200px;
   padding-top: 0px;
}
}

@media screen and (min-width:320px) and ( max-width:450px)
{

    .nav{
        font-size: 10px;
        width: 300px;
   
    }
    .icons{
        width: 10px;
        height: 10px;
    }
    .header-text{
        font-size: 43px;
    }
    #header-text{
       
        width: 320px;

    }
    .text-1{
        font-size: 13px;
    }
    .header-article{
    flex-direction: column;

    }
    #text-1{
        width:272px;
        margin-top: 50px;
    }
    
    
    .img-director-content{
        display: flex;
    justify-content: flex-end;
    }
    .img-director{
        width: 141px;
        height: 175px;
        margin-top: -100px;
    }
    .header-text-box{
        width: 225px;
        height: 93px;
    }
    .blue-text{
     font-size: 10px; 
    }

    .blue-writer-text{
    font-size: 10px; 
    padding-left: 120px;
    }
}

@media screen and (min-width:450px) and ( max-width:992px)
{

    .nav{
        font-size: 20px;
        width: 500px;
   
    }

    .header-text{
        font-size: 75px;
    }
    
    #header-text{
        width: 600px;
       
    }
    .text-1{
        font-size: 20px;
    }
    .header-article{
    flex-direction: column;

    }
    #text-1{
        width:420px;
    }
    
    
    .img-director-content{
        display: flex;
    justify-content: flex-end;
    }
    .img-director{
        width: 141px;
        height: 175px;
        margin-top: -100px;
    }
    .img-director{
        width: 261px;
        height: 255px;
    }
    .header-text-box{
        width: 325px;
        height: 133px;
    }
    .blue-text{
     font-size: 16px;    }

    .blue-writer-text{
    font-size: 13px; 
    padding-left: 180px;
    }
}



main{
    width: 100%;
}
.about{
    font-family: "Roboto", sans-serif;
    width: 90%;
    margin:0 auto;
    min-width: 375px;
    margin-top: 30px;
}
.about-title h2{
    font-size: 55px;
    font-weight: 700;
    font-family: "Roboto Slab", serif;
}
.about-body{
   display: flex;
   gap: 180px;
}
.about-article{
    width: 650px;
   
}
 .about-article p{
    font-size: 24px;
    font-weight: 400;
 }
 .cameraman-img-1{
    width: 314px;
    height: 315px;
}
.about-footer{
    display: flex;
    gap: 60px;
    margin-top: 40px;
}
.about-items{
    display: flex;
    gap: 100px;
}
.about-item h4{
    font-size: 25px;
    font-weight: 700;
}
.about-item{
    width:160px;
}
.about-item p{
    font-size: 18px;
    font-weight: 400;
}
.cameraman-img-2{
    width: 232px;
    height: 203px;
}
@media screen and (min-width:992px) and (max-width:1279px){
    .about-article{
        width:490px;
    }
    .cameraman-img-1{
        margin-top: 40px;
        /* margin-left: 120px; */
        width: 241px;
        height: 242px;
    }
    .about-body{
        gap: 170px;
    }
    .about-article p{
        font-size: 18px;
    }

    .about-title h2{
        font-size: 60px;
    }
    .cameraman-img-2{
        width: 214px;
        height: 187px;
    }
    .about-item h4{
        font-size: 22px;
    }
    .about-item p{
        font-size: 18px;
    }


}




@media screen and (min-width:320px) and (max-width:451px) {
    .cameraman-img-2{
        display: none;
    }

    .cameraman-img-1{
        width: 180px;
        height: 170px;
        margin: 0 auto;
    }
    .about-article{
        width:350px;
    }
   .about-body{
    flex-direction: column;
    gap: 10px;
   }
   .about-items{
    flex-wrap: wrap;
    gap: 40px;
   }

   .about-item{
    width: 110px;
   }
.about-title h2{
    font-size:30px;
}
.about-article p{
    font-size: 14px;
}

.about-item h4{
    font-size: 15px;
}
.about-item p{
    font-size:14px;
}   
}


@media screen and (min-width:451px) and (max-width:711px) {
    .cameraman-img-2{
        display: none;
    }

    .cameraman-img-1{
        width: 210px;
        height: 190px;
        margin: 0 auto;
    }
    .about-article{
        width:542px;
    }
   .about-body{
    flex-direction: column;
    gap: 10px;
   }
   .about-items{
    flex-wrap: wrap;
    gap: 65px;
   }

   .about-item{
    width: 170px;
   }
.about-title h2{
    font-size:50px;
}
.about-article p{
    font-size: 22px;
}

.about-item h4{
    font-size: 20px;
}
.about-item p{
    font-size:22px;
}   
}
@media screen and (min-width:320px) and (max-width:401px) {

    .about-items{
        margin-left: 20px;
    }
    .about-article{
        margin-left: 20px;
    }
    .about-title{
        margin-left: 20px;
    }
}


@media screen and (min-width:711px) and (max-width:992px) {
    .cameraman-img-2{
        display: none;
    }

    .cameraman-img-1{
        width: 330px;
        height: 270px;
        margin: 0 auto;
    }
    .about-article{
        width:742px;
    }
   .about-body{
    flex-direction: column;
    gap: 10px;
   }
   .about-items{
    flex-wrap: wrap;
    gap: 150px;
   }
.about-title h2{
    font-size:70px;
}
.about-article p{
    font-size: 30px;
}
.about-item{
    width:200px;
}

.about-item h4{
    font-size: 30px;
}
.about-item p{
    font-size:25px;
}   
}


