@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box
}
body{
    font-family: "Roboto", sans-serif;
    width: 100%;
    overflow-x: hidden;
}
.info{
    width: 85%;
    margin: 0 auto;
    padding: 130px 0px; 
}
.course-info{
    background-color: #9DC9C8;
    min-width: 350px;
}
.info h2{
    font-family: "Roboto Slab", serif;
    font-weight: 700;
    font-size:4rem; 
    margin-bottom: 3.2rem;
}
.info-main p{
    margin-bottom: -10px;
    font-size: 1.7rem; 
    font-weight: 400;
}
.info-main h2{
    font-size: 4.4rem; 
    margin-bottom: 55px; 
    font-weight: 400;
}
.advise h3{
    font-weight: 400;
    font-size: 1.4rem; 
    margin-bottom: 15px; 
}
.info-foot{
    display: flex;
    gap: 70px; 
}
.advise p{
    font-size: 1.2rem; 
}
.advise{
    width: 320px; 
}
footer{
    background-color: black;
    color: white;
    min-width: 350px;
}
.footer-info{
    width: 85%;
    margin: 0 auto;
    padding-top: 45px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 145px;
}
#logo{
    width: 105px; 
    height: 64px; 
    margin-bottom: 25px; 
}
.social{
    display: flex;
    align-items: center;
    gap: 19px; 
}
.social img{
    width: 32px; 
    height: 32px; 
}
.phone img{
    width:25px; 
    height:25px;
}
.email img{
    width: 25px; 
    height:17px; 
}
.contact{
    padding-right: 75px; 
}
.contact p{
    font-size: 1.4rem;
}
.footer-head{
    display: flex;
    justify-content: space-between;
}
.phone{
    margin-bottom: 15px;
}
.phone,.email{
    display: flex;
    align-items: center;
    gap: 10px;
}
.footer-foot img{
    width: 225px;
    margin-bottom: 20px;
}

@media (min-width:992px) and (max-width:1279px) {
    .info{
        padding-top: 140px;
    }
    .info-head h2{
        font-size: 3.1rem; 
    }
    .info-main p{
        font-size: 1.2rem;
    }
    .info-main h2{
        font-size: 3.2rem; 
        margin-bottom: 30px; 
    }
    .advise{
        width: 275px;
    }
    .advise p{
        font-size: 1rem;
    }
    .advise h3{
        font-size: 1.2rem;
    }

    #logo{
        width: 90px;
        height: 55px;
    }
    .social img{
        width: 24px;
        height: 24px;
    }
    .phone img{
        width: 21px;
        height: 21px;
    }
    .email img{
         width: 21px;
         height: 14px;
    }
    .contact p{
        font-size: 1.2rem; 
    }
    .footer-foot img {
       width: 190px;
    }
    .info-foot{
        display: flex;
        gap: 55px; 
    }
}

@media (min-width: 320px) and (max-width:991px){
    .info{
        padding-top: 70px;
    }
    .info-foot{
        display: flex;
        gap: 50px; 
    }
    .info-head h2{
        font-size: 3rem; 
    }
    .info-main p{
        font-size: 1.2rem; 
    }
    .info-main h2{
        font-size: 2.9rem; 
        margin-bottom: 45px;
    }
    .advise{
        width: 245px;
    }
    .advise p{
        font-size: 1.1rem;
    }
    .advise h3{
        font-size: 1.3rem; 
    }
    .footer-head{
        flex-direction: column;
        gap: 45px;
    }
    #logo{
        width: 69px;
        height: 39px;
        margin-bottom: 10px;
    }
    .social img{
        width: 21px;
        height: 21px;
    }
    .phone img{
        width: 17px;
        height: 17px;
    }
    .email img{
         width: 17px;
         height: 13px;
    }
    .contact p{
        font-size: .9rem;
    }
    .footer-foot img {
       width: 150px;
    }
    .footer-info{
        gap: 50px;
    }
    .social{
        gap: 10px; 
    }
}
@media (min-width:402px) and (max-width: 494px){
    .info-foot{
        gap: 27px; 
    }
    .info-head h2{
        font-size: 3rem; 
    }
    .info-main p{
        font-size: 1.1rem; 
    }
    .info-main h2{
        font-size: 2.5rem; 
        margin-bottom: 45px;
    }
    .advise p{
        font-size: .9rem;
    }
    .advise h3{
        font-size: 1.1rem; 
    }
}
@media (min-width:320px) and (max-width:402px){
    .info-foot{
        gap: 22px; 
    }
    .info-head h2{
        font-size: 2.2rem; 
    }
    .info-main p{
        font-size: .85rem; 
    }
    .info-main h2{
        font-size: 2.2rem; 
        margin-bottom: 45px;
    }
    .advise{
        width: 245px;
    }
    .advise p{
        font-size: .7rem;
    }
    .advise h3{
        font-size: 1rem; 
    }
    
    .footer-foot img{
        width: 125px;
    }
    .social img{
        width: 14px;
        height: 14px;
    }
    .phone img{
        width: 13px;
        height: 13px;
    }
    .email img{
         width: 13px;
         height: 10px;
    }
    .contact p{
        font-size: 0.7rem;
    }
}

.card{
    background-color: #EFEFEF;
    display: flex;
    flex-direction: column;
    padding-bottom: 40px;
    min-width: 350px;
}
.card-info{
    width: 85%;
    margin: 0 auto;
    margin-top: 40px;
}
.card-title h2{
    margin-top: 50px;
    margin-bottom: 50px;
   font-weight: 700;
   font-size: 3.9vw;
   font-family: "Roboto Slab", serif;
}

.card-div{
    width: 67%;
    min-width: 308px;
    background-color: white;
    border-radius: 30px;
    border: none;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.card-div p{
    margin: 0 auto;
    padding-top: 30px;
    font-weight: 400;
    font-size: 20px;
    width: 95%;
    font-family: "Roboto Slab", serif;
}
.card-footer{
    margin-top: 30px;
    margin-bottom: 50px;
    padding-bottom: 30px;
    display: flex;
    gap: 20px;
}
.card-profil{
    width: 190px;
    height: 169px;
    margin-left: 25px;
}
.card-footer h3{
    margin-top: 35px;
    font-size: 30px;
    font-weight: 700;
    font-family: "Roboto Slab", serif;
}
.facebook-img{
    margin-top: 25px;
    width: 32px;
    height: 31px;
}

@media screen and (min-width:992px) and (max-width:1279px){
    .card-title h2{
        font-size:3.9vw;
     }
     .card-div p{
        font-size: 18px;
     }
     .card-footer h3{
        font-size: 21px;
     }
     .card-footer{
        padding-bottom: 40px;
     }
     .card-profil{
        width: 110px;
        height: 97px;
     }
     .facebook-img{
        margin-top:20px;
        width: 18px;
        height: 17px;
    }
}
 
@media screen and (min-width:320px) and (max-width:543px){
    .card-title h2{
        font-size: 33px;
    }
    .card-title{
        width: 300px;
    }
    .card-footer h3{
        font-size: 15px;
     }
     .card-div p{
        font-size: 12px;
     }
     .card-profil{
        width: 80px;
        height: 84px;
     }
     .facebook-img{
        margin-top: 10px;
        width: 14px;
        height: 17px;
     }
    .card-div{
        width: 85%;
    }
}
@media screen and (min-width:543px) and (max-width:774px){
    .card-title h2{
        font-size: 48px;
    }
    .card-footer h3{
        font-size: 18px;
     }
     .card-div p{
        font-size: 17px;
     }
     .card-profil{
        width: 80px;
        height: 84px;
     }
     .facebook-img{
        width: 14px;
        height: 17px;
        margin-top: 10px;
     }
    
    .card-title{
        width: 500px;
    }
    .card-div{
        width: 90%;
    }
}
@media screen and (min-width:774px) and (max-width:992px){
    .card-title h2{
        font-size: 50px;
    }
    .card-footer h3{
        font-size: 18px;
     }
     .card-div p{
        font-size: 17px;
     }
     .card-profil{
        width: 80px;
        height: 84px;
     }
     .facebook-img{
        margin-top: 10px;
        width: 14px;
        height: 17px;
     }
    
    .card-title{
        width: 500px;
    }
    .card-div{
        width:70%;
    }
}


.course-program{
    width: 85%;
    text-align: start;
    margin: 0 auto;
    margin-top: 150px;
}
.course-program h2{
    font-family: "Roboto Slab", serif;
    margin-left: 30px;
}
.course-boxs{
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    padding: 50px 0px;
}
.box{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    text-align: start;
    border-radius: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}
.box p{
    padding-left: 18px;
    font-size:25px;
    padding-bottom: 15px;
    font-family: "Roboto", sans-serif;
}
.box h3{
    padding-top: 10px;
    padding-left: 18px;
    font-family: "Roboto", sans-serif;
}
@media screen and (min-width: 1279px) {
.box{
        width: calc((100% - 75px)/3);
}
.course-boxs{
    gap: 35px;
}
.box img{
    width: 100%;
    height: 135px;
}
.box p{
    font-size: 20px;
}
.box h3{
    font-size: 25px;
    height: 68px;
}
.course-program h2{
    font-size: 55px;
}
}
@media screen and (min-width:992px) and (max-width: 1279px){
    .box{
        width: calc((100% - 60px)/3);
}
.course-boxs{
    gap: 30px;
}
.box img{
    width: 100%;
    height: 125px;
}
.box p{
    font-size: 16px;
}
.box h3{
    font-size: 18px;
    height: 50px;
}
.course-program h2{
    font-size: 45px;
}
}
@media screen and (min-width:690px) and (max-width:992px){
    .course-boxs{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .course-boxs{
        gap: 20px;
    }
    .box{
        width: 50%;
}
.box img{
    width: 100%;
    height: 50%;
}
.box p{
    font-size: 14px;
}
.box h3{
    font-size: 18px;
    height: 45px;
}
.course-program h2{
    font-size: 45px;
}
}


@media screen and (min-width: 479px) and (max-width:690px){
    .course-boxs{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .course-boxs{
        gap: 20px;
    }
    .box{
        width: 45%;
}
.box img{
    width: 100%;
    height: 50%;
}
.box p{
    font-size: 12px;
}
.box h3{
    font-size: 14px;
    height: 43px;
}
.course-program h2{
    font-size: 35px;
}
}

@media screen and (min-width: 320px) and (max-width:480px){
    .course-program{
        margin-top: 90px;
    }
    .course-boxs{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .course-boxs{
        gap: 20px;
    }
    .box{
        width: 50%;
        margin: 0 auto;
        border-radius: 17px;
}
.box img{
    width: 100%;
    height: 60%;
}
.box p{
    font-size: 9px;
}
.box h3{
    font-size: 10px;
    height: 34px;
}
.course-program h2{
    font-size:32px;
}
}
@media (min-width:320px) and (max-width:380px){
    .course-program h2{
        font-size: 26px;
    }
}


.format-learn{
    width: 85%;
    margin: 0 auto;
}
.format{
    margin-top: 155px;
}
.format-title{
    font-weight: 700;
    font-size: 58px;
    font-family: "Roboto Slab", serif;
    margin-bottom: 100px;
}
.question{
    margin: 195px 0;
}
.question-title{
    font-weight: 700;
    font-size: 55px;
    font-family: "Roboto Slab", serif;
    margin-bottom: 40px;
}

.topics{
    display: flex;
    gap: 95px;
}
.webinar,.access,.communication{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.topics p{
    font-weight:400;
    font-size: 17px;
}
.webinar{
    width: 220px;
}
.access{
    width: 300px;
}
.communication{
    width: 300px; 
}


.topics h4{
    color: #1E4681;
    font-weight:700;
    font-size: 25px;
}

.question-list{
    width: 50%;
    margin-left: 25px;
}
.question-list li{
    font-size: 23px;
    margin-bottom: 7px;
    font-weight: 400;
}
 

@media screen and (min-width:992px) and (max-width:1279px){
    .question{
        margin: 145px 0;
    }
.format{
    margin-top: 100px;
}
.format-title{
    font-size: 45px;
    margin-bottom: 80px;
}
.topics h4{
    font-size: 21px;
}
.topics p{
    font-size: 15px;
}

.webinar{
    width: 200px;
}
.access{
    width: 250px;
}
.communication{
    width: 280px; 
}
.question h2{
    font-size: 45px;
}
.question-list li{
    font-size: 20px;
}
.question-list{
    width: 50%;
}
.question-title{
    font-size: 45px;
}
}

@media screen and (min-width:507px) and (max-width:992px){
    .question{
        margin: 115px 0;
    }
       .format-title{
        font-size: 45px;
        margin-bottom: 55px;
    }
    .format{
        margin-top: 70px;
    }
    .topics h4{
        font-size: 26px;
    }
    .topics p{
        font-size: 20px;
    }
    .topics{
       flex-direction: column;
       gap: 65px;
    }
    .webinar{
        width: 400px;
    }
    .access{
        width: 420px;
    }
    .communication{
        width: 350px; 
    }
    .question h2{
        font-size: 50px;
    }
    .question-list li{
        font-size: 19px;
    }
    .question-list{
        width: 75%;
    }
    }
@media (min-width:450px) and (max-width:507px){
    .format{
        margin-top: 70px;
    }
    .question{
        margin: 95px 0;
    }
    .format-title{
        font-size: 39px;
        margin-bottom: 45px;
    }
    .topics h4{
        font-size: 20px;
    }
    .topics p{
        font-size: 15px;
    }
    .webinar{
        width: 332px;
    }
    .access{
        width: 255px;
    }
    .communication{
        width: 296px; 
    }
    .topics{
        flex-direction: column;
        gap: 65px;
     }
     .question-title{
        font-size: 40px;
    }
     .question-list li{
        font-size:15px;
    }
    .question-list{
        width:94%;
    }
}
@media (min-width:320px) and (max-width:450px){
    .format{
        margin-top: 70px;
    }
    .question{
        margin: 65px 0;
    }
    .format-title{
        font-size: 30px;
        margin-bottom: 35px;
    }
    .topics h4{
        font-size: 20px;
    }
    .topics p{
        font-size: 13px;
    }
    .webinar{
        width: 287px;
    }
    .access{
        width: 219px;
    }
    .communication{
        width: 258px; 
    }
    .topics{
        flex-direction: column;
        gap: 65px;
     }
     .question-title{
        font-size: 38px;
    }
     .question-list li{
        font-size: 14px;
    }
    .question-list{
        width:100%;
    }
}
@media (min-width:507px) and (max-width:750px){
    .format{
        margin-top: 70px;
    }
    .question{
        margin: 95px 0;
    }
    .question-list li{
        font-size: 20px;
    }
    .question-list{
        width: 95%;
    }
}


header{
    width: 85%;
    margin: 0 auto;
}
.header-logo{
width: 98px;
height: 63px;
margin-top: 22px;
}

.nav{
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    width: 520px;  
    font-weight: 400;
    font-size: 20px;
   font-family: "Roboto", sans-serif;
   margin-top: 30px;
   margin-bottom: 30px;

}

.icons{
    width: 22px;
    height: 22px;
}

.header-text{
    font-size: 78px;
    font-family: "Roboto Slab", serif;
    margin-top: -20px;
    padding-bottom: 15px;
}
#header-text{
    width:83%;
}
.text-1{
    margin-top: -30px;
    font-weight: 400;
    font-family: "Roboto", sans-serif;
    font-size: 20px;
}

#text-1{
    width:420px;
    margin-top:30px;
}

.header-article{
    display: flex;
    gap: 100px;
    margin-bottom: 100px;
}

.img-director{
    width: 304px;
    height: 356px;
    margin-top: 70px;
}
.header-text-box{
   
    width: 480px;
    height: 200px;
    background-color: #1E4681;
    color: white;
    margin: 0 auto;
    border-radius: 8px;
}
.blue-text{
    padding-top: 5px;
    padding-left: 20px;
    font-size: 25px;
    font-family: "Roboto Slab", serif;
 
}
.blue-writer-text{
    font-size: 20px;
    padding-left: 280px;
    padding-top: 15px;
    font-family: "Roboto", sans-serif;
}
@media screen and (min-width:992px) and ( max-width:1279px)
{

    .nav{
        font-size: 18px;
        width: 420px;
    }
    .header-text{
        font-size: 62px;
    }
    #header-text{
        width:560px;
    }
    .text-1{
        font-size: 18px;
    }
    #text-1{
        width:380px;
    }

    .img-director{
        width: 256px;
        height: 266px;
    }
 
    .header-text-box{
        width: 350px;
        height: 145px;
    }
    .blue-text{
     font-size: 18px; 
     }

.blue-writer-text{
    font-size: 15px; 
    padding-left: 200px;
   padding-top: 15px;
}
}

@media screen and (min-width:320px) and ( max-width:500px)
{

    .nav{
        font-size: 13px;
        width: 280px;
       
   
    }
    .icons{
        width: 15px;
        height: 15px;
    }
    .header-text{
        font-size: 43px;
    }
    #header-text{
       
        width: 319px;

    }
    .text-1{
        font-size: 13px;
    }
    .header-article{
    flex-direction: column;
    margin-bottom: 50px;

    }
    #text-1{
        width:272px;
        margin-top: 50px;
    }
    .img-director-content{
        display: flex;
    justify-content: flex-end;
    }
    .img-director{
        width: 141px;
        height: 175px;
        margin-top: -80px;
    }
    .header-text-box{
        width: 225px;
        height: 93px;
    }
    .blue-text{
     font-size: 10px; 
    }

    .blue-writer-text{
    font-size: 10px; 
    padding-left: 120px;
    }
}

@media screen and (min-width:500px) and ( max-width:992px)
{

    .nav{
        font-size: 20px;
        width: 420px;
   
    }

    .header-text{
        font-size: 63px;
    }
    
    #header-text{
        width: 456px;
       
    }
    .text-1{
        font-size: 20px;
    }
    .header-article{
    flex-direction: column;

    }
    #text-1{
        width:420px;
    }
    
    
    .img-director-content{
        display: flex;
    justify-content: flex-end;
    }
    .img-director{
        width: 141px;
        height: 175px;
        margin-top: -70px;
    }
    .img-director{
        width: 261px;
        height: 255px;
    }
    .header-text-box{
        width: 325px;
        height: 133px;
    }
    .blue-text{
     font-size: 16px;    }

    .blue-writer-text{
    font-size: 13px; 
    padding-left: 180px;
    }
}



main{
    width: 100%;
}
.about{
    font-family: "Roboto", sans-serif;
    width: 85%;
    margin:0 auto;
    margin-top: 150px;
}
.about-title h2{
    font-size: 55px;
    font-weight: 700;
    font-family: "Roboto Slab", serif;
}
.about-body{
   display: flex;
   gap: 180px;
   margin-top: 30px;
}
.about-article{
    width: 663px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    line-height: 1.4;
   
}
 .about-article p{
    font-size: 24px;
    font-weight: 400;
 }
 .cameraman-img-1{
    width: 314px;
    height: 315px;
}
.about-footer{
    display: flex;
    gap: 123px;
    margin-top: 40px;
}
.about-items{
    display: flex;
    gap: 79px;
    margin-top: 70px;
}
.about-item h4{
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 8px;
}
.about-item{
    width:160px;
}
.about-item p{
    font-size: 18px;
    font-weight: 400;
}
.cameraman-img-2{
    width: 232px;
    height: 203px;
}
@media screen and (min-width:992px) and (max-width:1279px){
    .about-footer{
        gap: 85px;
    }
    .about-article{
        width:490px;
    }
    .cameraman-img-1{
        margin-top: 40px;
        width: 241px;
        height: 242px;
    }
    .about-body{
        gap: 170px;
    }
    .about-article p{
        font-size: 19px;
    }

    .about-title h2{
        font-size: 60px;
    }
    .cameraman-img-2{
        width: 214px;
        height: 187px;
    }
    .about-item h4{
        font-size: 20px;
    }
    .about-item p{
        font-size: 16px;
    }
    .about-item{
        width:135px;
    }
    .about-items{
        gap: 57px;
    }
}




@media screen and (min-width:320px) and (max-width:451px) {
    .cameraman-img-2{
        display: none;
    }
    .about{
        margin-top: 85px;
    }
    .cameraman-img-1{
        width: 180px;
        height: 170px;
        margin: 0 auto;
    }
    .about-article{
        width:98%;
    }
   .about-body{
    flex-direction: column;
    gap: 10px;
   }
   .about-items{
    flex-wrap: wrap;
    gap: 40px;
   }

   .about-item{
    width: 110px;
   }
.about-title h2{
    font-size:30px;
}
.about-article p{
    font-size: 13px;
}

.about-item h4{
    font-size: 15px;
}
.about-item p{
    font-size:14px;
}   
}


@media screen and (min-width:451px) and (max-width:711px) {
    .cameraman-img-2{
        display: none;
    }

    .cameraman-img-1{
        width: 210px;
        height: 190px;
        margin: 0 auto;
    }
    .about-article{
        width:98%;
    }
   .about-body{
    flex-direction: column;
    gap: 10px;
   }
   .about-items{
    flex-wrap: wrap;
    gap: 65px;
   }

   .about-item{
    width: 170px;
   }
.about-title h2{
    font-size:50px;
}
.about-article p{
    font-size: 19px;
}

.about-item h4{
    font-size: 23px;
}
.about-item p{
    font-size:19px;
}   
}

@media (min-width:451px) and (max-width:477px){
    .about-item{
        width: 145px;
    }
    .about-item p{
        font-size: 17px;
    }
    .about-item h4{
        font-size: 21px;
    }
}
@media screen and (min-width:320px) and (max-width:401px) {
    .about-items{
        margin-left: 20px;
    }
    .about-article{
        margin-left: 20px;
    }
    .about-title{
        margin-left: 20px;
    }
}
@media (min-width:320px) and (max-width:330px){
    .about-item {
        width: 100px;
    }
    .about-item p{
        font-size: 12px;
    }
    .about-item h4{
        font-size: 14px;
    }
    
    
}

@media screen and (min-width:711px) and (max-width:992px) {
    .cameraman-img-2{
        display: none;
    }
    .cameraman-img-1{
        width: 330px;
        height: 270px;
        margin: 0 auto;
    }
    .about-article{
        width:95%;
    }
   .about-body{
    flex-direction: column;
    gap: 10px;
   }
   .about-items{
    flex-wrap: wrap;
   }
.about-title h2{
    font-size:70px;
}
.about-article p{
    font-size: 24px;
}
.about-item{
    width:200px;
}

.about-item h4{
    font-size: 30px;
}
.about-item p{
    font-size:25px;
}
}